<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Soleador">

<title>Soleador - Sistema de gestion</title>

<link rel="manifest" href="/mobile/manifest.json" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Soleador">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" />

<link rel="apple-touch-icon" href="/img/logoSoleador.ico">
<link rel="shortcut icon" type="image/x-icon" href="/img/logoSoleador.ico">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
<!-- END: Vendor CSS-->


<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/material-vendors.min.css">


<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/ui/jquery-ui.min.css">

<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/ui/jqueryui.css">

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/icheck/icheck.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/icheck/custom.css">

<link rel="stylesheet" type="text/css" href="../../../app-assets/css/material.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/material-colors.css">
<!-- END: Theme CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/components.css">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/single-page.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/cryptocoins/cryptocoins.css">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/selects/select2.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/pagination/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/images/cropper/cropper.css">

<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/toastr.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/extensions/toastr.min.css">
<!-- END: Custom CSS-->

<script src="/app-assets/vendors/js/vendors.min.js"></script>
<script src="/app-assets/vendors/js/material-vendors.min.js"></script>

<script src="/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script src="/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
<script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="/app-assets/vendors/js/extensions/cropper.min.js"></script>
<script src="/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js"></script>


<script src="/app-assets/js/core/app-menu.js"></script>
<script src="/app-assets/js/core/app.js"></script>

<script src="/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
<script src="/app-assets/js/scripts/pages/support-customers.js"></script>

<script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>


<script src="/app-assets/js/scripts/pages/material-app.js"></script>
<script src="/app-assets/js/scripts/extensions/image-cropper.js"></script>

<script src="/app-assets/js/scripts/extensions/toastr.min.js"></script>
<script src="/app-assets/vendors/js/extensions/toastr.min.js"></script>

</head>

<nav th:fragment="header" class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center white">
	<div class="navbar-wrapper">
		<div class="navbar-header">
			<ul class="nav navbar-nav flex-row">
				<li class="nav-item mobile-menu d-md-none mr-auto">
					<a class="nav-link nav-menu-main menu-toggle hidden-xs" id="aLink">
						<i class="ft-menu font-large-1"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="navbar-brand" href="/">
						<img class="brand-logo" alt="modern admin logo" src="/img/logoSoleador.jpg" style="border-radius: 50%;" />
						<h3 class="brand-text">Soleador</h3>
					</a>
				</li>
				<li class="nav-item d-md-none">
					<a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
						<i class="la la-ellipsis-v"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar-container content">
			<div class="collapse navbar-collapse" id="navbar-mobile">
<!-- 				<ul class="nav navbar-nav mr-auto float-left"> -->
<!-- 					<li class="nav-item d-none d-lg-block"> -->
<!-- 						<a title="Enviar un mensaje a soporte" class="nav-link" href="/soporte"> -->
<!-- 							<i class="la la-wechat" style="font-size: 24px;"></i> -->
<!-- 						</a> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item d-none d-lg-block"> -->
<!-- 						<a title="Consultar preguntas frecuentes" class="nav-link" href="/ayuda"> -->
<!-- 							<i class="la la-support" style="font-size: 24px;"></i> -->
<!-- 						</a> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item d-none d-lg-block"> -->
<!-- 						<a id="request" class="nav-link" href="#"> -->
<!-- 							<i class="la la-bell" style="font-size: 24px;"></i> -->
<!-- 						</a> -->
<!-- 					</li> -->


<!-- 				</ul> -->

				<ul class="nav navbar-nav float-right">

					<li class="dropdown dropdown-user nav-item">
<!-- 						<a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> -->
<!-- 							<span class="mr-1 user-name" th:text="${session.usuario.nombre}">John Doe</span><span class="avatar avatar-online"><img th:src="${session.usuario.foto ? '/multimedia/foto/usuario?id=' + session.usuario.id : '/app-assets/images/portrait/small/avatar-s-19.png'}" alt="avatar"> <i></i></span> -->
<!-- 						</a> -->
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="/">
								<i class="ft-user"></i> Perfil de Usuario
							</a>
							<a id="request2" class="dropdown-item" href="#">
								<i class="ft-mail"></i> Notificaciones
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout">
								<i class="ft-power"></i> Salir
							</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</nav>

<div th:fragment="menu" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow menuMobile" role="navigation" data-menu="menu-wrapper" id="collapseMenu">
	<div class="navbar-container main-menu-content " data-menu="menu-container">
		<ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
			<li class="dropdown nav-item dashboard" data-menu="dropdown1">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown1">
					<i class="la la-dashboard"></i> <span>Dashboard</span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/dashboard/pedidos">
							<span>Pedidos</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/pedido/listado?sort=fechaPedido,asc">
					<i class="la la-archive"></i> <span>Pedidos</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/envio/listado?sort=codigo,desc">
					<i class="la la-truck"></i> <span>Envíos</span>
				</a>
			</li>


			<li class="nav-item">
				<a class="nav-link" href="/remito/listado">
					<i class="la la-send"></i> <span>Remitos</span>
				</a>
			</li>



			<li class="dropdown nav-item acopios" data-menu="dropdown1">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown1">
					<i class="la la-cubes"></i> <span>Acopios</span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/acopio/producto">
							<span>Acopios de Materiales</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/acopio/obra">
							<span>Acopios de Obra</span>
						</a>
					</li>

					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/stock/herramienta">
							<span>Stock de Herramientas</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/stock/lugar">
							<span>Herramientas x Lugar</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="dropdown nav-item lugares" data-menu="dropdown1">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown1">
					<i class="la la-map-marker"></i> <span>Lugares</span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/obra/listado">
							<span>Obras</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/proveedor/listado">
							<span>Proveedores</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/deposito/listado">
							<span>Depositos</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown nav-item productos" data-menu="dropdown1">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown1">
					<i class="la la-wrench"></i> <span>Productos</span>
				</a>
				<ul class="dropdown-menu">

					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/producto/listado">
							<span>Productos</span>
						</a>
					</li>

					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/tipoproducto/listado">
							<span>Tipo de Producto</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/unidad/listado">
							<span>Unidades de Medida</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/importacion/formulario">
							<span>Importación</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="dropdown nav-item configuracion" data-menu="dropdown1">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown1">
					<i class="la la-cog"></i> <span>Configuración</span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/cliente/listado">
							<span>Clientes</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/vendedor/listado">
							<span>Vendedores</span>
						</a>
					</li>					
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/proveedor/listado">
							<span>Proveedores</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/transporte/listado">
							<span>Transportes</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/usuario/listado">
							<span>Usuarios</span>
						</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item" href="/envase/listado">
							<span>Envases</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item cerrarSesion">
				<a class="nav-link" href="/logout">
					<span>Cerrar sesión</span>
				</a>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		$("#aLink").click(function() {
			if ($("#collapseMenu").hasClass("mostrar")) {
				$("#collapseMenu").hide();
				$("#collapseMenu").removeClass("mostrar");
			} else {
				$("#collapseMenu").show();
				$("#collapseMenu").addClass("mostrar");
			}
		});

		$(".dashboard").click(function() {
			if ($(".dashboard").hasClass("show")) {
				$(".dashboard").removeClass("show");
			} else {
				$(".dashboard").addClass("show");
			}
		});

		$(".acopios").click(function() {
			if ($(".acopios").hasClass("show")) {
				$(".acopios").removeClass("show");
			} else {
				$(".acopios").addClass("show");
			}
		});

		$(".lugares").click(function() {
			if ($(".lugares").hasClass("show")) {
				$(".lugares").removeClass("show");
			} else {
				$(".lugares").addClass("show");
			}
		});

		$(".productos").click(function() {
			if ($(".productos").hasClass("show")) {
				$(".productos").removeClass("show");
			} else {
				$(".productos").addClass("show");
			}
		});

		$(".configuracion").click(function() {
			if ($(".configuracion").hasClass("show")) {
				$(".configuracion").removeClass("show");
			} else {
				$(".configuracion").addClass("show");
			}
		});
	</script>



</div>





<th:block th:fragments="footer">
	<footer class="footer footer-static footer-light navbar-shadow">
		<p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
			<span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2021 <a class="text-bold-800 grey darken-2" href="#" target="_blank">Soleador</a></span><span class="float-md-right d-none d-lg-block">Versión 1.0 <span id="scroll-top"></span></span>
		</p>
	</footer>
</th:block>

</html>
